@CHARSET "UTF-8";

.c_container {
	margin-left: 15%;
	margin-top: 3%;
	margin-bottom:5%;
}

.a_head {
	margin-left: -80px;
}

.p_account {
	margin-top: -48px;
	margin-left: 40px;
}

.p_id {
	margin-left: 40px;
}

#cc_right {
	margin-top: -3%;
	margin-left: -20%;
}

#menu {
	width: 100%;
	overflow: hidden;
}

#menu #nav {
	display: block;
	list-style: none;
	margin-left: -4.5%;
}

#menu #nav li {
	float: left;
}

#menu #nav li a {
	display: block;
	line-height: 27px;
	text-decoration: none;
	color: #333;
}

#menu_con {
	border-top: none;
	margin-top: 5%;
}

.tag {
	overflow: hidden;
}

.tag table {
	border: 1px solid #D2D2D2;
}

table th {
	border: 1px solid #D2D2D2;
	width: 100px;
	height: 40px;
	text-align: center;
}

table td {
	border: 1px solid #D2D2D2;
	width: 100px;
	height: 100px;
	text-align: center;
}

#menu1 {
	width: 100%;
	margin-left: -4%;
	overflow: hidden;
}

#menu1 #nav1 {
	display: block;
	list-style: none;
}

#menu1 #nav1 li {
	float: left;
}

#menu1 #nav1 li a {
	display: block;
	line-height: 27px;
	text-decoration: none;
	color: #333;
}

#menu_con1 {
	border-top: none;
	margin-top: 5%;
	margin-left: 4.5%;
}